.about-me{
    grid-column: 1/-1;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 6% 12% 30% 5% 1fr;
    grid-template-rows: 20vh 60vh 20vh;
}
.about-me-data{
    grid-column: 3/4;
    grid-row: 2/3;
}
.about-me h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.about-me span{
    font-weight: normal;
    color: mediumspringgreen;
    font-size: 2.5rem;
}
.about-me p{
    font-size: 1.4rem;
    color: dimgray;
    padding-bottom: 1rem;
    line-height: 2rem;
}
.technologies{
    position: relative;
    left:1.5rem;
    display: flex;
    flex-direction: row;
    width: 60%;
    line-height: 2.5rem;
}
.technologies ul{
    width: 50%;
}
li{
    color: dimgray;
    font-size: 1.4rem;
}
.profile-img{
    grid-column: 5/-1;
    grid-row: 2/3;
    position: relative;
}
.profile-img-container{
    width: 20rem;
    height: 20rem;
    position: relative;
    left: 2rem;
    top:5.5rem;
    background: mediumspringgreen;
}
.profile-img img{
    max-width: 20rem;
    height: 20rem;
    opacity: 0.4;
}
.profile-img .border{
    width: 20rem;
    height: 20rem;
    border:2px solid mediumspringgreen;
    position: absolute;
    top:7rem;
    left: 3rem;
    z-index: -1;
}
