.hero-page{
	grid-area: hero;
	grid-column: 1/-1;
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 6% 12% 45% 37%;
	grid-template-rows: 10vh 20vh 50vh 20vh;
}
nav{
	grid-area: nav;
	grid-column: 1/-1;
	grid-row: 1/2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}
.main-heading{
	grid-area: main-heading;
	grid-column: 3/4;
	grid-row: 3/4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	height: 80%;
}
nav .logo{
	color:mediumspringgreen;
	font-size: 2rem;
	border:3px solid mediumspringgreen;
	padding: 1rem;
}
nav .nav-links{
	width: 37vw;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.4rem;
}
nav a span{
	color: mediumspringgreen;
}
nav a{
	text-decoration: none;
	color: white;
}
nav .nav-links a:last-child{
	text-decoration:none;
	padding: 1rem;
	border: 2px solid mediumspringgreen;
	color: mediumspringgreen;
	background: transparent;
	border-radius: 5px;
}
.main-heading span{
	color: mediumspringgreen;
	font-size: 1.4rem;
}
.main-heading h1{
	font-size: 5.2rem;
	font-weight: bold;
	color: white;
}
.main-heading h2{
	font-size: 4.8rem;
	font-weight: bold;
	color: gray;
}
.main-heading p{
	color: dimgray;
	font-size: 1.4rem;
	width: 65%;
}
.main-heading button{
	color: mediumspringgreen;
	border: 2px solid mediumspringgreen;
	padding: 1.5rem 1.8rem;
	background: transparent;
	border-radius: 5px;
	font-size: 1.4rem;
}
.social-links{
	width: 6%;
	height: 35%;
	position: fixed;
	bottom: 0; left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.social-links a{
	text-decoration: none;
	color: gray;
	font-size: 1.4rem;
}
.line{
	width: 2px;
	height: 20%;
	border-right: 2px solid gray;
	border-radius: 2px;
}